<h3>News Articles <a  id="viewSaved" href="/articles/saved" class="waves-effect waves-light btn" data-article-id="{{this._id}}" data-article-title="{{title}}">View Saved</a> </h3>

<div class="row">
  {{#each articles}}
    {{#unless saved}}
      <div class="col s12 m6 l4 xl3 flip-card">
        <div class="card">
          
          <a href="{{link}}" target="_blank">
            <div class="card-image">
              <img src="{{src}}">
              {{!-- <span class="card-title"></span> --}}
            </div>
            
            <div class="card-content">
              <p> {{title}} </p>
            </div> 
          </a>
          
          <div class="card-action">
            <a  class="waves-effect waves-light btn modal-trigger saveNotes" href="#!" data-article-id="{{this._id}}" data-article-title="{{title}}">Save</a>
          </div>

        </div>
      </div>
      {{/unless}}
  {{/each}}

  
    {{#unless articles}}
        <h3>No saved articles in the database! You must scrape first.</h3>
        <a href="/" class="waves-effect waves-light btn">Home</a>
    {{/unless}}


  </div>